@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App{
  background-color: rgb(32, 32, 67);
  box-sizing: border-box;
  margin-left: 400px;
  margin-top: 100px;
  width: 700px;
  height: 450px;
  border-radius: 15px;
}

.title{
color: white;
text-transform: uppercase;
padding: 0.352rem;
}

.todo-btn{
  background-color: rgb(117, 42, 255) ;
  color:white;
  border:none;
  padding:0.85rem;
  cursor: pointer;
  margin-top:-5px;
  font-family: Roboto ,Arial,  sans-serif;
}

.todo-input{
  background-color: transparent;
  border:1px solid rgb(117, 42, 255) ;
  height:30px;
  width: 300px;
  padding: 0.352rem;
  font-family: Roboto ,Arial,  sans-serif;
  color:white;
  
}

.todotext{
  background-color:rgb(117, 42, 255) ;
  height:20px;
  width: 380px;
  color : white;
  margin-left: 150px;
  margin-top:20px;
  border-radius: 2px;
  font-family:Roboto ,Arial,  sans-serif; 
  text-align:left;
  padding:0.55rem;
}

.pen{
  color: white;
  margin-left: 330px;
  position: relative;
  top: -45px;
}

.trash{
  color: white;
  margin-left: 10px;
  position: relative;
  top: -45px;
}

